<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Dojo Survey</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="static/css/style.css">
</head>
<body>
  <div id="box">
    <h2>Submitted Data</h2>
    <table>
      <tbody>
        <tr>
          <td>Name: </td>
          <td>{{thename}}</td>
        </tr>
        <tr>
          <td>Dojo Location:</td>
          <td>{{sel1}}</td>
        </tr>
        <tr>
          <td>Favorite Language:</td>
          <td>{{sel2}}</td>
        </tr>
      </tbody>
    </table>
    <label for="com">Comment:</label>
    <p id="com">{{comment}}</p>
    <form action="/back">
      <button type="submit" class="btn btn-default">Go Back</button>
    </form>
  </div>
</body>
</html>