*{
    margin:0 ;
    padding: 0;
}
body {

    display: flex;
    justify-content: center;
}
#box {
    width: 400px;
    border-radius: 5px;
    box-shadow: 2px 2px 10px black;
    padding: 20px;
}
tr {
    width: 360px;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}
h2 {
    text-decoration: underline;
}
#com {
    width: 360px;
    text-align: left;
    overflow-wrap: break-word;
}
table {
    margin-bottom: 20px;
}

